.text-mono {
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    line-height: calc(1 + 0.8 / var(--font-mono-scale));
    font-family: var(--font-mono-family);
    font-style: var(--font-mono-style);
    font-weight: var(--font-mono-weight);
}

pre {
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    line-height: calc(1 + 0.8 / var(--font-mono-scale));
    font-family: var(--font-mono-family);
    font-style: var(--font-mono-style);
    font-weight: var(--font-mono-weight);
}